@model AutoKomis.Models.Sprzedaz

<form method="post" asp-action="CreateSprzedazPost">
    <div class="create-conatiner">

        <h1 class="add-title">Dodaj Sprzedaż</h1>

        <div class="top">
            <div class="label-for">
                <label asp-for="IdSamochodu"></label>
                <hr class="space">
                <label asp-for="IdPracownika"></label>
                <hr class="space">
                <label asp-for="IdKlienta"></label>
                <hr class="space">
                <label asp-for="DataZawarciaUmowy"></label>
                <hr class="space">
                <label asp-for="Kwota"></label>
            </div>
            <div class="input-for">
                <input asp-for="IdSamochodu" class="form-control" />
                <input asp-for="IdPracownika" class="form-control" />
                <input asp-for="IdKlienta" class="form-control" />
                <input asp-for="DataZawarciaUmowy" class="form-control" />
                <input asp-for="Kwota" class="form-control" />
            </div>
        </div>

        <div class="create-submit">
            <div class="create-button">
                <input type="submit" value="Create" class="create-input" />
            </div>
            <div class="back-button">
                <button asp-controller="Pracownik" asp-action="Index" class="back-input">Back</button>
            </div>
        </div>

    </div>
</form>
