<div class="title-cointainer">
    <div class="text-center">
        <h1 class="index-title">Witamy w AutoKomis</h1>
    </div>

    <div class=cointainer>
        <div class="main-cointainer">
            <div class="home-cointainer">
                <img id="jpg" src="https://bi.im-g.pl/im/0a/f6/10/z17785354IER,Sredni-wiek-sprowadzanych-do-Polski-samochodow-wyn.jpg" />
            </div>
            <div class="home-cointainer">
                <p>
                    Na samochodach znamy się naprawdę dobrze. Od lat śledzimy trendy i zmiany w motoryzacji. Wiemy, jak ważne są sprawne cztery kółka podczas
                    codziennej eksploatacji – zarówno na trasach długich, jak i krótkich. Działamy na rynku od 2015 roku. Za nami wiele udanych transakcji
                    i zadowolonych klientów.
                    W naszym serwisie można znaleźć ogłoszenia sprzedaży nowych i używanych pojazdów – różne marki, modele i roczniki.
                    U nas możesz nie tylko kupić samochód ale również wystawić swój lub zostawić go w rozliczeniu i cieszyć sie nowszym samochodem.
                </p>
            </div>
        </div>

        <div class="main-cointainer">
            <div class="home-cointainer">
                <p>Ul. Krasińskiego 8</p>
                <p>40-019 Katowice</p>
                <p>KRS: 0003133154</p>
                <p>NIP: 9623165183</p>
            </div>
            <div class="home-cointainer" id="bottom-pic">
                <img id="jpg" src="https://emoto.com.pl/wp-content/uploads/2021/01/Ktory-komis-samochodowy-w-Warszawie.jpg" />
            </div>
        </div>
    </div>

</div>




